$dark-font: #333333;
$light-gray: #F6F6F6;
$silver-gray: #9E9E9E;
$neutral-light: #CCCCCC;
$white: #FFFFFF;
$light-cyan: #26C6DA;
$lighter-cyan: #80DEEA;
$orange: #FFA726;
$orange-dark: #F57C00;
$red: #EF5350;
$golden: #FFD600;
$light-teal: #00BFA5;
$light-blue: #03A9F4;
$lightest-blue: #E1F5FE;
$silver: #C0C0C0;
$transparent-black: rgba(0, 0, 0, 0.4);
